misc/schema/elrc2a/ELRC-SHARE-BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Lemmy (Unicorn) -->
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="https://elrc-share.ilsp.gr/ELRC-SHARE_SCHEMA/v2.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://elrc-share.ilsp.gr/ELRC-SHARE_SCHEMA/v2.0/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" xml:lang="en">
	<xs:include schemaLocation="./ELRC-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-RoleTypes.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-LicenseMetadata.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-LanguageMetadata.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-UsageMetadata.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-LanguageMetadata.xsd"/>
	<xs:include schemaLocation="./ELRC-SHARE-ISOVocabularies.xsd"/>
	<!-- definition of complex types -->
	<xs:complexType name="identificationInfoType">
		<xs:sequence>
			<xs:element name="resourceName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The full name by which the resource is known; the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
					<xs:appinfo>
						<label>Resource name</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang2">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="description" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Provides the description of the resource in prose; the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
					<xs:appinfo>
						<label>Description</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="10000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang3">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="resourceShortName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The short form (abbreviation, acronym etc.) used to identify the resource; the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
					<xs:appinfo>
						<label>Resource short name</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element ref="ms:url" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A URL used as homepage of an entity (e.g. of a person, organization, resource etc.); it provides general information (for instance in the case of a resource, it may present a description of the resource, its creators and possibly include links to the URL where it can be accessed from)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>URL (Landing page)</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!-- metashare id reflects to the UNIQUE system id provided by metashare software-->
			<xs:element name="metaShareId">
				<xs:annotation>
					<xs:documentation>An unambiguous referent to the resource within META-SHARE; it reflects to the unique system id provided automatically by the MetaShare software</xs:documentation>
					<xs:appinfo>
						<label>Meta-Share ID</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ISLRN" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to the unique ISLRN number of the resource; if the resource has not been assigned an ISLRN yet, you may request for one at: http://www.islrn.org/</xs:documentation>
					<xs:appinfo>
						<label>ISLRN</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identifier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to a PID, DOI or an internal identifier used by the resource provider for the resource</xs:documentation>
					<xs:appinfo>
						<label>Identifier</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="appropriatenessForDSI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies whether the resource is appropriate for use in one or more of the DSIs (Digital Service Infrastructures)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="OnlineDisputeResolution"/>
						<xs:enumeration value="Europeana"/>
						<xs:enumeration value="OpenDataPortal"/>
						<xs:enumeration value="eJustice"/>
						<xs:enumeration value="ElectronicExchangeOfSocialSecurityInformation"/>
						<xs:enumeration value="saferInternet"/>
						<xs:enumeration value="Cybersecurity"/>
						<xs:enumeration value="eHealth"/>
						<xs:enumeration value="eProcurement"/>
						<xs:enumeration value="BusinessRegistersInterconnectionSystem"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="versionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{version} {revision} {lastDateUpdated}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="version">
				<xs:annotation>
					<xs:documentation>Any string, usually a number, that identifies the version of a resource </xs:documentation>
					<xs:appinfo>
						<label>Version</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="revision" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides an account of the revisions in free text or a link to a document with revisions</xs:documentation>
					<xs:appinfo>
						<label>Revision</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastDateUpdated" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of the last update of the version of the resource</xs:documentation>
					<xs:appinfo>
						<label>Last date updated</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateFrequency" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the frequency with which the resource is updated</xs:documentation>
					<xs:appinfo>
						<label>Update frequency</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="validationInfoType">
		<xs:sequence>
			<xs:element name="validated" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Specifies the validation status of the resource</xs:documentation>
					<xs:appinfo>
						<label>Validated</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="validationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the type of the validation that have been performed </xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Validation type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="formal">
							<xs:annotation>
								<xs:appinfo>
									<label>Formal</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="content">
							<xs:annotation>
								<xs:appinfo>
									<label>Content</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="validationMode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the validation methodology applied</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="manual"/>
						<xs:enumeration value="automatic"/>
						<xs:enumeration value="mixed"/>
						<xs:enumeration value="interactive"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="validationModeDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Textual field for additional information on validation</xs:documentation>
					<xs:appinfo>
						<label>Validation mode details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="validationExtent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The resource coverage in terms of validated data</xs:documentation>
					<xs:appinfo>
						<label>Validation extent</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="full"/>
						<xs:enumeration value="partial"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="validationExtentDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size or other details of partially validated data; to be used if only part of the resource has been validated and as an alternative to SizeInfo if the validated part cannot be counted otherwise</xs:documentation>
					<xs:appinfo>
						<label>Validation extent details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sizePerValidation" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the size of the validated part of a resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per validation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="validationReport" type="ms:documentationInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short account of the validation details or a bibliographic reference to a document with detailed information on the validation process and results</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Validation report</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="validationTool" type="ms:targetResourceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name, the identifier or the url of the tool used for the validation of the resource</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Validation tool</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="validator" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the person(s) or the organization(s) that validated the resource</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Validator</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resourceCreationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{resourceCreator} {fundingProject} {creationStartDate}-{creationEndDate}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="createdUsingELRCServices" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Specifies whether ELRC services have been exploited in the creation process of the resource; if so, please specify the services used in the description field of the metadata record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resourceCreator" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the person or the organization that has created the resource</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>many-to-many</relation>
						<label>Resource creator</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fundingProject" type="ms:projectInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the project that has funded the resource</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Funding project</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationStartDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the creation process was started</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>Creation start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the creation process was completed</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>Creation end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creationInfoType">
		<xs:sequence>
			<xs:element ref="ms:originalSource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name, the identifier or the url of thethe original resources that were at the base of the creation process of the resource</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>many-to-many</relation>
						<label>Original source</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationMode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies whether the resource is created automatically or in a manual or interactive mode </xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="automatic"/>
						<xs:enumeration value="manual"/>
						<xs:enumeration value="mixed"/>
						<xs:enumeration value="interactive"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="creationModeDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides further information on the creation methods and processes</xs:documentation>
					<xs:appinfo>
						<label>Creation mode details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="creationTool" type="ms:targetResourceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name, the identifier or the url of the tool used in the creation process</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Creation tool</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="metadataInfoType">
		<xs:sequence>
			<xs:element name="metadataCreationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The date of creation of this metadata description (automatically inserted by the MetaShare software)</xs:documentation>
					<xs:appinfo>
						<label>Metadata creation date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataCreator" type="ms:personInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the person that has created the metadata record</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Metadata creator</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceRepository" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Refers to the repository from which the metadata record has been harvested</xs:documentation>
					<xs:appinfo>
						<label>Source repository (URL)</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalMetadataSchema" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Refers to the metadata schema originally used for the description of the resource</xs:documentation>
					<xs:appinfo>
						<label>Original metadata schema</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originalMetadataLink" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A link to the original metadata record, in cases of harvesting</xs:documentation>
					<xs:appinfo>
						<label>Original metadata record link</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataLanguageName" type="ms:languageNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The language in which the metadata description is written according to IETF BCP47 (ISO 639-1 or ISO 639-3 for languages not covered by the first standard)</xs:documentation>
					<xs:appinfo>
						<label>Metadata language</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataLanguageId" type="ms:languageTagType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The id of the language in which the metadata description is written, as specified by BCP47</xs:documentation>
					<xs:appinfo>
						<label>Metadata language identifier</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataLastDateUpdated" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date of the last updating of the metadata record (automatically inserted by the MetaShare software)</xs:documentation>
					<xs:appinfo>
						<label>Metadata last date updated</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides an account of the revisions in free text or a link to a document with revisions</xs:documentation>
					<xs:appinfo>
						<label>Revision</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{author}: {title}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentType">
				<xs:annotation>
					<xs:documentation>Specifies the type of the document provided with or related to the resource</xs:documentation>
					<xs:appinfo>
						<label>Document type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="article">
							<xs:annotation>
								<xs:documentation>An article from a journal or magazine</xs:documentation>
								<xs:appinfo>
									<label>Article</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="book">
							<xs:annotation>
								<xs:documentation>A book with an explicit publisher</xs:documentation>
								<xs:appinfo>
									<label>Book</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="booklet">
							<xs:annotation>
								<xs:documentation>A work that is printed and bound, but without a named  publisher or sponsoring institution</xs:documentation>
								<xs:appinfo>
									<label>Booklet</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="manual">
							<xs:annotation>
								<xs:documentation>Technical documentation</xs:documentation>
								<xs:appinfo>
									<label>Manual</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="techReport">
							<xs:annotation>
								<xs:documentation>A report published by a school or other institution</xs:documentation>
								<xs:appinfo>
									<label>Technical report</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="mastersThesis">
							<xs:annotation>
								<xs:documentation>A Master's thesis</xs:documentation>
								<xs:appinfo>
									<label>Master's thesis</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="phdThesis">
							<xs:annotation>
								<xs:documentation>A PhD thesis</xs:documentation>
								<xs:appinfo>
									<label>PhD thesis</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="inBook">
							<xs:annotation>
								<xs:documentation>A part of a book, which may be a chapter (or section) and/or a range of pages</xs:documentation>
								<xs:appinfo>
									<label>In book</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="inCollection">
							<xs:annotation>
								<xs:documentation>A part of a book having its own title</xs:documentation>
								<xs:appinfo>
									<label>In collection</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="proceedings">
							<xs:annotation>
								<xs:documentation>The proceedings of a conference</xs:documentation>
								<xs:appinfo>
									<label>Proceedings</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="inProceedings">
							<xs:annotation>
								<xs:documentation>An article in a conference proceedings</xs:documentation>
								<xs:appinfo>
									<label>In proceedings</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="unpublished">
							<xs:annotation>
								<xs:documentation>A document having an author and title, but not formally published</xs:documentation>
								<xs:appinfo>
									<label>Unpublished</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Use this type when nothing else fits</xs:documentation>
								<xs:appinfo>
									<label>Other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="title" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The title of the document reporting on the resource</xs:documentation>
					<xs:appinfo>
						<label>Title</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang10">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name(s) of the author(s), in the format described in the document</xs:documentation>
					<xs:appinfo>
						<label>Author</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="editor" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name of the editor as mentioned in the document</xs:documentation>
					<xs:appinfo>
						<label>Editor</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="year" type="xs:gYear" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The year of publication or, for an unpublished work, the year it was written</xs:documentation>
					<xs:appinfo>
						<label>Year (of publication)</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publisher" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name of the publisher</xs:documentation>
					<xs:appinfo>
						<label>Publisher</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bookTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The title of a book, part of which is being cited</xs:documentation>
					<xs:appinfo>
						<label>Book title</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="journal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A journal name. Abbreviations could also be provided</xs:documentation>
					<xs:appinfo>
						<label>Journal</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="volume" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the volume of a journal or multivolume book</xs:documentation>
					<xs:appinfo>
						<label>Volume</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of a series or set of books. When citing an entire book, the title field gives its title and an optional series field gives the name of a series or multi-volume set in which the book is published</xs:documentation>
					<xs:appinfo>
						<label>Series</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pages" minOccurs="0">
				<xs:annotation>
					<xs:documentation>One or more page numbers or range of page numbers</xs:documentation>
					<xs:appinfo>
						<label>Pages</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="edition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The edition of a book</xs:documentation>
					<xs:appinfo>
						<label>Edition</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the conference in which the document has been presented</xs:documentation>
					<xs:appinfo>
						<label>Conference</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="doi" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A digital object identifier assigned to the document</xs:documentation>
					<xs:appinfo>
						<label>DOI</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:url" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A URL used as homepage of an entity (e.g. of a person, organization, resource etc.); it provides general information (for instance in the case of a resource, it may present a description of the resource, its creators and possibly include links to the URL where it can be accessed from)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>URL (Landing page)</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISSN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The International Standard Serial Number used to identify a journal</xs:documentation>
					<xs:appinfo>
						<label>ISSN</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ISBN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The International Standard Book Number</xs:documentation>
					<xs:appinfo>
						<label>ISBN</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keywords" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The keyword(s) for indexing and classification of the document</xs:documentation>
					<xs:appinfo>
						<label>Keywords</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="documentLanguageName" type="ms:languageNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The language the document is written in (according to the IETF BCP47 guidelines)</xs:documentation>
					<xs:appinfo>
						<label>Document language</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentLanguageId" type="ms:languageTagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The id of the language the document is written in (according to the IETF BCP47 guidelines)</xs:documentation>
					<xs:appinfo>
						<label>Document language identifier</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentationInfoType">
		<xs:choice>
			<xs:element ref="ms:documentUnstructured">
				<xs:annotation>
					<xs:documentation>Used either as a free text description or as an unstructured (free form) presentation of a bibliographic record; alternative to the structured presentation of a document (cf. documentInfo)</xs:documentation>
					<xs:appinfo>
						<label>Unstructured document</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:documentInfo">
				<xs:annotation>
					<xs:documentation>Groups information on a document in a structured format; it can be used both for published or unpublished documents; depending on the role of the document (e.g. usage report, validation report, annotation manual etc.), it can be found at various places of the metadata</xs:documentation>
					<xs:appinfo>
						<label>Document</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="resourceDocumentationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{documentation}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="citation" type="ms:documentationInfoType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Publication to be used for citation purposes</xs:documentation>
					<xs:appinfo>
						<relation>many-to-one</relation>
						<recommended>true</recommended>
						<label>Citation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentation" type="ms:documentationInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Refers to papers, manuals, reports etc. describing the resource</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>many-to-many</relation>
						<label>Documentation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="samplesLocation" type="ms:httpURI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A url with samples of the resource or, in the case of tools, of samples of the output</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>Samples location</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="toolDocumentationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the type of documentation for tool or service</xs:documentation>
					<xs:appinfo>
						<label>Type of documentation for tools</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
						<xs:enumeration value="online"/>
						<xs:enumeration value="manual"/>
						<xs:enumeration value="helpFunctions"/>
						<xs:enumeration value="none"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainInfoType">
		<xs:sequence>
			<xs:element ref="ms:domain">
				<xs:annotation>
					<xs:documentation>Specifies the application domain of the resource or the tool/service</xs:documentation>
					<xs:appinfo>
						<inline-type>tabular</inline-type>
						<label>Domain</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerDomain" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the size of resource parts per domain</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per domain</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:conformanceToClassificationScheme" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the external classification schemes</xs:documentation>
					<xs:appinfo>
						<label>Conformance to classification scheme</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotationInfoType">
		<xs:sequence>
			<xs:element ref="ms:annotationType">
				<xs:annotation>
					<xs:documentation>Specifies the annotation level of the resource or the annotation type a tool/ service requires or produces as an output</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>Annotation type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationStandoff" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the annotation is created inline or in a stand-off fashion</xs:documentation>
					<xs:appinfo>
						<label>Annotation standoff</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!-- segmentationLevel is mandatory if annotationType=segmentation -->
			<xs:element ref="ms:segmentationLevel" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the segmentation unit in terms of which the resource has been segmented or the level of segmentation a tool/service requires/outputs</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Segmentation level</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:annotationFormat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the format that is used in the annotation process since often the mime type will not be sufficient for machine processing</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Annotation format</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tagsetLanguageId" type="ms:languageTagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier of the tagset language (according to the IETF BCP47 guidelines)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Tagset language identifier</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tagsetLanguageName" type="ms:languageNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the tagset language (according to the IETF BCP47 guidelines)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Tagset language</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:conformanceToStandardsBestPractices" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the standards or the best practices to which the tagset used for the annotation conforms </xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Conformance to standards / best practices</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:theoreticModel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the theoretic model applied for the creation or enrichment of the resource, and/or a reference (URL or bibliographic reference) to informative material about the theoretic model used</xs:documentation>
					<xs:appinfo>
						<label>Theoretic model</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationManual" type="ms:documentationInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A bibliographic reference or ms:httpURI link to the annotation manual</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Annotation manual</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationMode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the resource is annotated manually or by automatic processes</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="automatic"/>
						<xs:enumeration value="manual"/>
						<xs:enumeration value="mixed"/>
						<xs:enumeration value="interactive"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="annotationModeDetails" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides further information on annotation process </xs:documentation>
					<xs:appinfo>
						<label>Annotation mode details</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationTool" type="ms:targetResourceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name, the identifier or the url of the tool used for the annotation of the resource</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>many-to-many</relation>
						<label>Annotation tool</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationStartDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the annotation process has started</xs:documentation>
					<xs:appinfo>
						<label>Annotation start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotationEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date in which the annotation process has ended</xs:documentation>
					<xs:appinfo>
						<label>Annotation end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerAnnotation" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size for the annotated parts of the resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per annotation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interannotatorAgreement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the interannotator agreement and the methods/metrics applied </xs:documentation>
					<xs:appinfo>
						<label>Interannotator agreement</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="intraannotatorAgreement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the intra-annotator agreement and the methods/metrics applied  </xs:documentation>
					<xs:appinfo>
						<label>Intraannotator agreement</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="annotator" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the annotators of the specific annotation type</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Annotator</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="targetResourceInfoType">
		<xs:annotation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<render-short>{targetResourceNameURI}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<!--TODO ID: ref to ResourceInfoType-->
			<!--
            <xs:element name="relatedResourceID">
                <xs:annotation>
                	<xs:documentation>A (unique) identifier of a resource related to the resource being described</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                    	<xs:restriction base="xs:string">
                    		<xs:maxLength value="100"/>
                    	</xs:restriction>
                    </xs:simpleType>
            </xs:element>
            -->
			<xs:element name="targetResourceNameURI">
				<xs:annotation>
					<xs:documentation>The full name or a url to a resource related to the one being described; to be used for identifiers also for this version</xs:documentation>
					<xs:appinfo>
						<label>Target resource</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relationInfoType">
		<xs:sequence>
			<xs:element name="relationType">
				<xs:annotation>
					<xs:documentation>Specifies the type of relation not covered by the ones proposed by META-SHARE</xs:documentation>
					<xs:appinfo>
						<label>Relation type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="relatedResource" type="ms:targetResourceInfoType">
				<xs:annotation>
					<xs:documentation>The full name, the identifier or the url of the related resource</xs:documentation>
					<xs:appinfo>
						<relation>many-to-one</relation>
						<label>Related resource</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="runningEnvironmentInfoType">
		<xs:sequence>
			<xs:element name="requiredSoftware" type="ms:targetResourceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional software required for running a tool and/or computational grammar</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Required software</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requiredHardware" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Hardware required for running a tool and/or computational grammar</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<label>Required hardware</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="graphicCard"/>
						<xs:enumeration value="microphone"/>
						<xs:enumeration value="ocrSystem"/>
						<xs:enumeration value="specialHardwareEquipment"/>
						<xs:enumeration value="none"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requiredLRs" type="ms:targetResourceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If for running a tool and/or computational grammar, specific LRs (e.g. a grammar, a list of words etc.) are required</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Required language resources</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="runningEnvironmentDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides further information on the running environment</xs:documentation>
					<xs:appinfo>
						<label>Running environment details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- defintion of elements -->
	<xs:element name="relationInfo" type="ms:relationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the relations of the resource being described with other resources</xs:documentation>
			<xs:appinfo>
				<label>Relation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="identificationInfo" type="ms:identificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information needed to identify the resource</xs:documentation>
			<xs:appinfo>
				<label>Identification</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="versionInfo" type="ms:versionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a specific version or release of the resource</xs:documentation>
			<xs:appinfo>
				<label>Version</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="validationInfo" type="ms:validationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on validation of a resource; it can be repeated to allow for different validations (e.g. formal validation of the whole resource; content validation of one part of the resource etc.). </xs:documentation>
			<xs:appinfo>
				<label>Validation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="resourceCreationInfo" type="ms:resourceCreationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the creation procedure of a resource</xs:documentation>
			<xs:appinfo>
				<label>Resource creation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="metadataInfo" type="ms:metadataInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the metadata record itself</xs:documentation>
			<xs:appinfo>
				<label>Metadata</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="resourceDocumentationInfo" type="ms:resourceDocumentationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on any document describing the resource</xs:documentation>
			<xs:appinfo>
				<label>Resource documentation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="domainInfo" type="ms:domainInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on domains represented in the resource; can be repeated for parts of the resource with distinct domain</xs:documentation>
			<xs:appinfo>
				<label>Domain</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotationInfo" type="ms:annotationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the annotated part(s) of a resource</xs:documentation>
			<xs:appinfo>
				<label>Annotation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="documentInfo" type="ms:documentInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a document in a structured format; it can be used both for published or unpublished documents; depending on the role of the document (e.g. usage report, validation report, annotation manual etc.), it can be found at various places of the metadata</xs:documentation>
			<xs:appinfo>
				<label>Document</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="domain">
		<xs:annotation>
			<xs:documentation>Specifies the application domain of the resource or the tool/service</xs:documentation>
			<xs:appinfo>
				<inline-type>tabular</inline-type>
				<label>Domain</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="conformanceToStandardsBestPractices">
		<xs:annotation>
			<xs:documentation>Specifies the standards or the best practices to which the tagset used for the annotation conforms </xs:documentation>
			<xs:appinfo>
				<label>Conformance to standards / best practices</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
				<xs:enumeration value="BML"/>
				<xs:enumeration value="CES"/>
				<xs:enumeration value="EAGLES"/>
				<xs:enumeration value="EML"/>
				<xs:enumeration value="EMMA"/>
				<xs:enumeration value="GMX"/>
				<xs:enumeration value="GrAF"/>
				<xs:enumeration value="HamNoSys"/>
				<xs:enumeration value="InkML"/>
				<xs:enumeration value="ILSP_NLP"/>
				<xs:enumeration value="ISO12620"/>
				<xs:enumeration value="ISO16642"/>
				<xs:enumeration value="ISO1987"/>
				<xs:enumeration value="ISO26162"/>
				<xs:enumeration value="ISO30042"/>
				<xs:enumeration value="ISO704"/>
				<xs:enumeration value="LAF"/>
				<xs:enumeration value="LMF"/>
				<xs:enumeration value="MAF"/>
				<xs:enumeration value="MLIF"/>
				<xs:enumeration value="MOSES"/>
				<xs:enumeration value="MULTEXT"/>
				<xs:enumeration value="MUMIN"/>
				<xs:enumeration value="multimodalInteractionFramework"/>
				<xs:enumeration value="OAXAL"/>
				<xs:enumeration value="OWL"/>
				<xs:enumeration value="PANACEA"/>
				<xs:enumeration value="pennTreeBank"/>
				<xs:enumeration value="pragueTreebank"/>
				<xs:enumeration value="RDF"/>
				<xs:enumeration value="SemAF"/>
				<xs:enumeration value="SemAF_DA"/>
				<xs:enumeration value="SemAF_NE"/>
				<xs:enumeration value="SemAF_SRL"/>
				<xs:enumeration value="SemAF_DS"/>
				<xs:enumeration value="SKOS"/>
				<xs:enumeration value="SRX"/>
				<xs:enumeration value="SynAF"/>
				<xs:enumeration value="TBX"/>
				<xs:enumeration value="TMX"/>
				<xs:enumeration value="TEI"/>
				<xs:enumeration value="TEI_P3"/>
				<xs:enumeration value="TEI_P4"/>
				<xs:enumeration value="TEI_P5"/>
				<xs:enumeration value="TimeML"/>
				<xs:enumeration value="XCES"/>
				<xs:enumeration value="XLIFF"/>
				<xs:enumeration value="WordNet"/>
				<xs:enumeration value="other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creationInfo" type="ms:creationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the resource creation (e.g. for corpora, selection of texts/audio files/ video files etc. and structural encoding thereof; for lexica, construction of lemma list etc.)</xs:documentation>
			<xs:appinfo>
				<label>Creation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="documentationInfo" type="ms:documentationInfoType">
		<xs:annotation>
			<xs:documentation>Used to bring together information on documents (as a structured bibliographic record or in an unstructured format) and free text descriptions</xs:documentation>
			<xs:appinfo>
				<label>Documentation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="runningEnvironmentInfo" type="ms:runningEnvironmentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the running environment of a tool or a language description</xs:documentation>
			<xs:appinfo>
				<label>Running environment</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="sex">
		<xs:annotation>
			<xs:documentation>The gender of a person related to or participating in the resource</xs:documentation>
			<xs:appinfo>
				<label>Sex</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="male"/>
				<xs:enumeration value="female"/>
				<xs:enumeration value="unknown"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="theoreticModel">
		<xs:annotation>
			<xs:documentation>Name of the theoretic model applied for the creation or enrichment of the resource, and/or a reference (URL or bibliographic reference) to informative material about the theoretic model used</xs:documentation>
			<xs:appinfo>
				<label>Theoretic model</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="originalSource" type="ms:targetResourceInfoType">
		<xs:annotation>
			<xs:documentation>The name, the identifier or the url of thethe original resources that were at the base of the creation process of the resource</xs:documentation>
			<xs:appinfo>
				<label>Original source</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
